@using Domain.Entities;

<style>
	.clothes-details-container {
		display: flex;
		align-items: center;
	}

	.clothes-image {
		flex: 0 0 auto;
		margin-right: 20px;
	}

	.clothes-info {
		flex: 1 1 auto;
	}
</style>


@if (SelectedVG is not null)
{
	<div class="clothes-details-container">
		<div class="clothes-image">
			@if (!string.IsNullOrEmpty(SelectedVG.Path))
			{
				<img src="@SelectedVG.Path" alt="Clothes Image" width="400" height="300" />
			}
		</div>
		<div class="clothes-info">
			<h2>@SelectedVG.Name</h2>
			<p>@SelectedVG.Description</p>
			<p>Price: @SelectedVG.Price</p>
		</div>
	</div>
}

@code {
	[Parameter]
	public VideoGame? SelectedVG { get; set; }
}